<?xml version="1.0" ?>

<launch>
  <arg name="load_handpiece" default="true" />
  <arg name="robot_ip" default="192.168.30.151"/>
  <arg name="publish_rate" default="1000" />

  <param unless="$(arg load_handpiece)" name="robot_description" command="$(find xacro)/xacro --inorder $(find franka_description)/robots/panda_arm.urdf.xacro" />
  <param if="$(arg load_handpiece)" name="robot_description" command="$(find xacro)/xacro --inorder $(find force_control_test)/urdf/panda_arm_handpiece.urdf.xacro" />

  <node name="joint_state_publisher" type="joint_state_publisher" pkg="joint_state_publisher">
    <param name="rate" value="$(arg publish_rate)" />
    <rosparam param="source_list">[/joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <node name="otg_test" pkg="force_control_test" type="circle_prep_otg_update_target" output="screen"/>

  <!-- <node name="tm_publisher_circle" pkg="ros_tm_topic" type="tm_publisher_circle" /> -->

  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find force_control_test)/launch/demo.rviz"/>
</launch>